In [13]:
import pandas as pd 
import json
import requests

In [14]:
#read the dataset to extract id
df = pd.read_csv("dataset/dialect_dataset.csv")
df.head()

                    id dialect
0  1175358310087892992      IQ
1  1175416117793349632      IQ
2  1175450108898565888      IQ
3  1175471073770573824      IQ
4  1175496913145217024      IQ

## Read id from dataset and add it in list

In [4]:
List_ID=[]
for i in range(0,len(df)):
    List_ID.append(str(df['id'][i]))

# Request text from websit using list that includes ID

In [6]:
index=0
list1=[]
list2=[]
index_output=[]
headers = {
  'Content-Type': 'application/json'}

url = "https://recruitment.aimtechnologies.co/ai-tasks"
for i in range(0,480): 
 
    list1=[]
    if(index<458000):
        index2=index+1000
    for j in range(index,index2):
        list1.append(List_ID[j])
    payload = json.dumps(list1)
    response = requests.request("POST", url, headers=headers, data=payload)
    list2.append(response.text)
    index=index+1000
    index_output.append(index)

# Request the final id from dataset

In [8]:
list1=[]

for j in range(458000,len(List_ID)):
    list1.append(List_ID[j])
headers = {
  'Content-Type': 'application/json'}

url = "https://recruitment.aimtechnologies.co/ai-tasks"

payload = json.dumps(list1)
response = requests.request("POST", url, headers=headers, data=payload)
list2.append(response.text)

# Merga datafram into one datafram

In [9]:
list_datafram=[]
for i in range(0,len(list2)):
    data_dict=json.loads(list2[i])
    name="df"+str(i)
    data_items = data_dict.items()
    data_list = list(data_items)
    name=pd.DataFrame(data_list, columns=['id','text'])
    list_datafram.append(name)

In [10]:
result = pd.concat(list_datafram)
result

                      id                                               text
0    1175358310087892992   @Nw8ieJUwaCAAreT لكن بالنهاية .. ينتفض .. يغير .
1    1175416117793349632  @7zNqXP0yrODdRjK يعني هذا محسوب على البشر .. ح...
2    1175450108898565888                    @KanaanRema مبين من كلامه خليجي
3    1175471073770573824         @HAIDER76128900 يسلملي مرورك وروحك الحلوه💐
4    1175496913145217024                 @hmo2406 وين هل الغيبه  اخ محمد 🌸🌺
..                   ...                                                ...
192  1019484980282580992              @Al_mhbaa_7 مبسوطين منك اللي باسطانا😅
193  1021083283709407232       @Zzainabali @P_ameerah والله ماينده ابش يختي
194  1017477537889431552  @Al_mhbaa_7 شو عملنا لك حنا تهربي مننا احنا مس...
195  1022430374696239232        @haneenalmwla الله يبارك فيها وبالعافيه 😋😋😋
196  1022409931029458944          @jolnar121 السحله ضيفي ي بتطلع لك سحليه😅😅

[458197 rows x 2 columns]

In [11]:
result.to_csv("dataset/fetching_script_dataset.csv",encoding='UTF-8' )